<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="card mt-2">
			<div class="card-body">
				<h5 class="card-title">Exemplars</h5>

				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th scope="col" class="align-middle">Codi</th>
							<th scope="col" class="align-middle">Estat</th>
							<th scope="col" class="align-middle">QR</th>
							<th scope="col" class="align-middle">Nom del Material</th>
							<th scope="col" class="align-middle">Nom de la Localitzacio</th>
							<th scope="col" class="align-middle">
								<a href="/exemplar/create" class="btn btn-primary">New</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach(function(exemplar) { %>
							<tr>
								<td class="align-middle">
									<%= exemplar.codi %>
								</td>
								<td class="align-middle">
									<% if(exemplar.demarca) { %>
										Baixa
									<% } else { %>
										Alta 
									<% } %>
								</td>
								<td class="align-middle">
									<!-- A l'insertar una etiqueta HTML (svg), en comptes de posar '=', s'ha de posar el '-'  -->
									<%- exemplar.qr %>
								</td>
								<td class="align-middle">
									<% if(exemplar.codiMaterial == null) { %>
										Error a la base de dades
									<% } else { %>
										<%= exemplar.codiMaterial.nom %>
									<% } %>
								</td>
								<td class="align-middle">
									<% if(exemplar.codiLocalitzacio == null) { %>
										Error a la base de dades
									<% } else { %>
										<%= exemplar.codiLocalitzacio.nom %>
									<% } %>
								</td>
								<td class="align-middle">
									<% if(!exemplar.demarca) { %>
										<a class="btn btn-warning" href="/exemplar/update/<%=exemplar._id%>"
											class="card-link">Edit</a>
										<a class="btn btn-info" href="/exemplar/show/<%=exemplar._id%>"
											class="card-link">Mostrar</a>
									<% }  %>

								</td>

							</tr>
						<% }); %>
					</tbody>
				</table>

				<nav>
					<ul class="pagination">
						<li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=1" aria-label="Anterior">
								<span>Primer</span>
							</a>
						</li>
						<li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Anterior">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Anterior</span>
							</a>
						</li>

						<% let startPage = Math.max(1, currentPage - 2); %>
						<% let endPage = Math.min(totalPages, startPage + 4); %>

						<% if (endPage - startPage < 4) { %>
							<% startPage = Math.max(1, endPage - 4); %>
						<% } %>

						<% for (let i = startPage; i <= endPage; i++) { %>
							<li class="page-item <%= i == currentPage ? 'active' : '' %>">
								<a class="page-link" href="?page=<%= i %>"><%= i %></a>
							</li>
						<% } %>
						<li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= parseInt(currentPage) + 1 %>" aria-label="Siguiente">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Siguiente</span>
							</a>
						</li>
						<li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= totalPages %>" aria-label="Anterior">
								<span>Ultim</span>
							</a>
						</li>
					</ul>
				</nav>
				
			</div>

		</div>

	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>