<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

	<div class="card mt-4">
	  <div class="card-header">
	     <h5 class="card-title">Edit Subcategory</h5>
	  </div>
	  <div class="card-body">
	
		<form method="POST" action="/subcategorias/update/<%= subCategoria._id %>">
			<div class="form-group">
				 <label for="codi">Codi</label>
				<input type="text" name="codi" class="form-control" value="<%= Exemplar.codi %>">
			</div>
			<div class="form-group">
				<label for="demarca">Demarca</label>
				<input type="checkbox" name="true" value="<%= Exemplar.demarca %>">
			</div>
			<div class="form_group">
                <label for="qr">QR</label>
                <input type="text" name="qr" class="form-control" value="<%= Exemplpar.qr %>">
            </div>
            
			<button type="submit" class="btn btn-primary">Save
			</button>
			<a class="btn btn-danger" href="/subcategorias/delete/<%= subCategoria._id %>" role="button">Delete</a>

		</form>

		<% if (typeof error !== "undefined") { %>
			<div class="alert alert-primary mt-2" role="alert">
			    <p><%= error %></p>
			</div>
		<% } %>

		<% if (typeof message !== "undefined") { %>
			<div class="alert alert-primary mt-2" role="alert">
			    <p><%= message %></p>
			</div>
		<% } %>

	</div>
		
	</div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>