<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title">Nou Usuari</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="/usuaris/create">
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" name="nom" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="cognoms">Cognoms</label>
                        <input type="text" name="cognoms" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="dni">Dni</label>
                        <input type="text" name="dni" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="carrec">Càrrec</label><br>
                        <select name="carrec">
                            <% carrecs.forEach(function(carrec) { %>
                                <option value="Director"><%= carrec %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" placeholder="exemple@exemple.com" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

                <% if (typeof error !== "undefined") { %>
                    <div class="alert alert-primary mt-2" role="alert">   
                        <p><%= error %></p>
                    </div>
                <% } %>
            </div>
        </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>

</body>
</html>