<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Centre</h5>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Codi</th>
                            <th scope="col">Nom</th>
                            <th scope="col">
                                <a href="/centre/create" class="btn btn-primary">New</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% list.forEach(function(centre) { %>
                            <tr>
                                <td>
                                    <%= centre.codi %>
                                </td>
                                <td>
                                    <%= centre.nom %>
                                </td>
                                <td>
                                    <a href="/centre/update/<%=centre._id%>" class="btn btn-secondary">Edit</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>


            </div>

        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>