<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="card mt-2">
			<div class="card-body">
				<h5 class="card-title">Usuaris</h5>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Numero de Tiquet</th>
							<th scope="col">Email</th>
                            <th scope="col">Operacions</th>
						</tr>
					</thead>
					<tbody>
						<% tickets.forEach(function(ticket) { %>
							<tr>
								<td>
									<%= ticket.numero %>
								</td>
								<td>
									<%= ticket.idUsuari.email %>
								</td>
								<td>
									<a class="btn btn-secondary" href="/ticket/mostrar/<%= ticket._id %>" class="card-link">Mostrar</a>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>


			</div>

		</div>

	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>