<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="card mt-2">
			<div class="card-body">
				<h5 class="card-title">Planta</h5>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codi</th>
							<th scope="col">Nom Planta</th>
							<th scope="col">Nom del Centre</th>
							<th scope="col">Planol</th>
							<th scope="col">
								<a href="/planta/create" class="btn btn-primary">New</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach(function(planta) { %>
							<tr>
								<td>
									<%= planta.codi %>
								</td>
								<td>
									<%= planta.nom %>
								</td>
								<td>
									<% if(planta.codiCentre == null) { %>
										Error a la base de dades
									<% } else { %>
										<%= planta.codiCentre.nom %>
									<% } %>
								</td>
								<td>
									<img class="w-25" src=" <%= planta.planol %>" alt="">
								</td>
								<td>
									<a class="btn btn-secondary" href="/planta/update/<%=planta._id%>"
										class="card-link">Edit</a><br>
										<a class="btn btn-success" href="<%= planta.planol %>" 
										download class="card-link">Descargar</a>
								</td>

							</tr>
						<% }); %>
					</tbody>
				</table>

				<nav>
					<ul class="pagination">
						<li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=1" aria-label="Anterior">
								<span>Primer</span>
							</a>
						</li>
						<li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Anterior">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Anterior</span>
							</a>
						</li>

						<% let startPage = Math.max(1, currentPage - 2); %>
						<% let endPage = Math.min(totalPages, startPage + 4); %>

						<% if (endPage - startPage < 4) { %>
							<% startPage = Math.max(1, endPage - 4); %>
						<% } %>

						<% for (let i = startPage; i <= endPage; i++) { %>
							<li class="page-item <%= i == currentPage ? 'active' : '' %>">
								<a class="page-link" href="?page=<%= i %>"><%= i %></a>
							</li>
						<% } %>
						<li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= parseInt(currentPage) + 1 %>" aria-label="Siguiente">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Siguiente</span>
							</a>
						</li>
						<li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= totalPages %>" aria-label="Anterior">
								<span>Ultim</span>
							</a>
						</li>
					</ul>
				</nav>

			</div>

		</div>







	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>