<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="card mt-2">
			<div class="card-body">
				<h5 class="card-title">Planta</h5>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codi</th>
							<th scope="col">Nom Planta</th>
							<th scope="col">Nom del Centre</th>
							<th scope="col">Planol</th>
							<th scope="col">
								<a href="/planta/create" class="btn btn-primary">New</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach(function(planta) { %>
							<tr>
								<td>
									<%= planta.codi %>
								</td>
								<td>
									<%= planta.nom %>
								</td>
								<td>
									<% if(planta.codiCentre == null) { %>
										Error a la base de dades
									<% } else { %>
										<%= planta.codiCentre.nom %>
									<% } %>
								</td>
								<td>
									<%= planta.planol %>
								</td>
								<td>
									<a class="btn btn-secondary" href="/planta/update/<%=planta._id%>"
										class="card-link">Edit</a>
								</td>

							</tr>
						<% }); %>
					</tbody>
				</table>


			</div>

		</div>







	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>