<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title">Nova Planta</h5>
            </div>
            <div class="card-body">

                <form method="POST" action="/planta/create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="codi">Codi</label>
                        <input type="text" name="codi" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="nom">Nom Planta</label>
                        <input type="text" name="nom" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="codiCentre">Centre</label>
                        <select type="text" name="codiCentre" class="form-control">
                            <% centreList.forEach(function(codiCentre) { %>
                                <option value="<%= codiCentre.id %>">
                                    <%= codiCentre.nom %>
                                </option>
                            <% }); %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="planol">Planol</label>
                        <input type="file" name="planol" accept="image/png, .jpeg, .jpg" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                    
                </form>

                <% if (typeof error !=="undefined" ) { %>
                    <div class="alert alert-primary mt-2" role="alert">
                        <p>
                            <%= error %>
                        </p>
                    </div>
                <% } %>

            </div>
        </div>


    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>