<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="card mt-2">
			<div class="card-body">
				<h5 class="card-title">Cadira</h5>



				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Numero de la Cadira</th>
							<th scope="col">Codi de la Sessio</th>
							<th scope="col">
								<a href="/cadira/create" class="btn btn-primary">New</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach(function(cadira) { %>
							<tr>
								<td>
									<%= cadira.numeroCadira %>
								</td>
								<td>
									<% if(cadira.codiSessio == null) { %>
										Error
									<% } else { %>
										<%= cadira.codiSessio.codi %>
									<% } %>
								</td>
								<td>
									<a class="btn btn-secondary" href="/cadira/update/<%=cadira._id%>"
										class="card-link">Edit</a>
								</td>

							</tr>
						<% }); %>
					</tbody>
				</table>


			</div>

		</div>







	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>