<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>

		<div class="card mt-4">
			<div class="card-header">
				<h5 class="card-title">Edit Subcategory</h5>
			</div>
			<div class="card-body">

				<form method="POST" action="/subcategories/update/<%= subCategoria._id %>">
					<div class="form-group">
						<label for="nom">Nom</label>
						<input type="text" name="nom" class="form-control" value="<%= subCategoria.nom %>">
					</div>
					<div class="form-group">
						<label for="codi">Codi</label>
						<% let codi = subCategoria.codi.slice(0, subCategoria.codi.indexOf('/'))%>

						<input type="text" name="codi" class="form-control" value="<%= codi %>">
					</div>

					<div class="form-group">
						<label for="codiCategoria">CodiCategoria</label>
						<select type="text" name="codiCategoria" class="form-control">
							<% categoriaList.forEach(function(codiCategoria) { if(codiCategoria.id == subCategoria.codiCategoria){%>

								<option value="<%= codiCategoria.id %>" selected>
									<%= codiCategoria.nom %>
								</option>
								<% }else{ %>
									<option value="<%= codiCategoria.id %>">
										<%= codiCategoria.nom %>
									</option>
							<% }}); %>
						</select>
					</div>

					<button type="submit" class="btn btn-primary">Save
					</button>
					<a class="btn btn-danger" href="/subcategories/delete/<%= subCategoria._id %>"
						role="button">Delete</a>

				</form>

				<% if (typeof error !=="undefined" ) { %>
					<div class="alert alert-primary mt-2" role="alert">
						<p>
							<%= error %>
						</p>
					</div>
				<% } %>

				<% if (typeof message !=="undefined" ) { %>
					<div class="alert alert-primary mt-2" role="alert">
						<p>
							<%= message %>
						</p>
					</div>
				<% } %>

			</div>

		</div>

	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>