<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="card mt-2">
			<div class="card-body">
				<h5 class="card-title">Sessio</h5>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codi</th>
							<th scope="col">Nom</th>
							<th scope="col">Codi de la Reserva</th>
							<th scope="col">
								<a href="/sessio/create" class="btn btn-primary">New</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach(function(sessio) { %>
							<tr>
								<td>
									<%= sessio.codi %>
								</td>
								<td>
									<%= sessio.nom %>
								</td>
								<td>
									<% if(sessio.codiReserva == null) { %>
										Error a la base de dades
									<% } else { %>
										<%= sessio.codiReserva.codi %>
									<% } %>
								</td>
								<td>
									<a class="btn btn-secondary" href="/sessio/update/<%=sessio._id%>"
										class="card-link">Edit</a>
								</td>

							</tr>
						<% }); %>
					</tbody>
				</table>

			</div>

		</div>