<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="card mt-2">
			<div class="card-body">
				<h5 class="card-title">Reserva</h5>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codi</th>
							<th scope="col">Horari</th>
							<th scope="col">Data</th>
							<th scope="col">DNI de l'Usuari</th>
							<th scope="col">Codi Localitzacio</th>
							<th scope="col">
								<a href="/reserva/create" class="btn btn-primary">New</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach(function(reserva) { %>
							<tr>
								<td>
									<%= reserva.codi %>
								</td>
								<td>
									<% if(reserva.horaInici.getMinutes() == 0 && reserva.horaFi.getMinutes() == 0) { %>
										<%= reserva.horaInici.getHours() %>:00 h - <%= reserva.horaFi.getHours() %>:00 h
									<% } else if (reserva.horaInici.getMinutes() == 0) { %>
										<%= reserva.horaInici.getHours() %>:00 %> h - <%= reserva.horaFi.getHours() %>:<%= reserva.horaFi.getMinutes() %> h
									<% } else if (reserva.horaFi.getMinutes() == 0) { %>
										<%= reserva.horaInici.getHours() %>:<%= reserva.horaInici.getMinutes() %> h - <%= reserva.horaFi.getHours() %>:00 h
									<% } else { %>
										<%= reserva.horaInici.getHours() %>:<%= reserva.horaInici.getMinutes() %> h - <%= reserva.horaFi.getHours() %>:<%= reserva.horaFi.getMinutes() %> h
									<% } %>
								</td>
								<td>
									<%= reserva.horaInici.getDate() %>/<%= reserva.horaInici.getMonth() + 1 %>/<%= reserva.horaInici.getFullYear() %>
								</td>
								<td>
									<% if(reserva.dniUsuari == null) {%>
										Error a la base de dades
									<%} else {%>
										<%= reserva.dniUsuari.dni %>
									<% } %>
								</td>
								<td>
									<% if(reserva.codiLocalitzacio == null) {%>
										Error a la base de dades
									<%} else {%>
										<%= reserva.codiLocalitzacio.nom %>
									<% } %>
								</td>
								<td>
									<a class="btn btn-secondary" href="/reserva/update/<%=reserva._id%>"
										class="card-link">Edit</a>
								</td>

							</tr>
							<% }); %>
					</tbody>
				</table>

				<nav>
					<ul class="pagination">
						<li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=1" aria-label="Anterior">
								<span>Primer</span>
							</a>
						</li>
						<li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Anterior">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Anterior</span>
							</a>
						</li>

						<% let startPage = Math.max(1, currentPage - 2); %>
						<% let endPage = Math.min(totalPages, startPage + 4); %>

						<% if (endPage - startPage < 4) { %>
							<% startPage = Math.max(1, endPage - 4); %>
						<% } %>

						<% for (let i = startPage; i <= endPage; i++) { %>
							<li class="page-item <%= i == currentPage ? 'active' : '' %>">
								<a class="page-link" href="?page=<%= i %>"><%= i %></a>
							</li>
						<% } %>
						<li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= parseInt(currentPage) + 1 %>" aria-label="Siguiente">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Siguiente</span>
							</a>
						</li>
						<li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= totalPages %>" aria-label="Anterior">
								<span>Ultim</span>
							</a>
						</li>
					</ul>

			</div>

		</div>