<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="card mt-2">
			<div class="card-body">
				<h5 class="card-title">Reserva</h5>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codi</th>
							<th scope="col">Horari</th>
							<th scope="col">Data</th>
							<th scope="col">DNI de l'Usuari</th>
							<th scope="col">Codi Localitzacio</th>
							<th scope="col">
								<a href="/reserva/create" class="btn btn-primary">New</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach(function(reserva) { %>
							<tr>
								<td>
									<%= reserva.codi %>
								</td>
								<td>
									let utc = -(reserva.horaInici.getTimezoneOffset()) / 60;
									<% if(reserva.horaInici.getMinutes() == 0 && reserva.horaFi.getMinutes() == 0) { %>
										<%= reserva.horaInici.getHours() %>:00 h - <%= reserva.horaFi.getHours() %>:00 h
									<% } else if (reserva.horaInici.getMinutes() == 0) { %>
										<%= reserva.horaInici.getHours() %>:00 %> h - <%= reserva.horaFi.getHours() %>:<%= reserva.horaFi.getMinutes() %> h
									<% } else if (reserva.horaFi.getMinutes() == 0) { %>
										<%= reserva.horaInici.getHours() %>:<%= reserva.horaInici.getMinutes() %> h - <%= reserva.horaFi.getHours() %>:00 h
									<% } else { %>
										<%= reserva.horaInici.getHours() %>:<%= reserva.horaInici.getMinutes() %> h - <%= reserva.horaFi.getHours() %>:<%= reserva.horaFi.getMinutes() %> h
									<% } %>
								</td>
								<td>
									<%= reserva.horaInici.getDate() %>/<%= reserva.horaInici.getMonth() + 1 %>/<%= reserva.horaInici.getFullYear() %>
								</td>
								<td>
									<% if(reserva.dniUsuari == null) {%>
										Error a la base de dades
									<%} else {%>
										<%= reserva.dniUsuari.dni %>
									<% } %>
								</td>
								<td>
									<% if(reserva.codiLocalitzacio == null) {%>
										Error a la base de dades
									<%} else {%>
										<%= reserva.codiLocalitzacio.nom %>
									<% } %>
								</td>
								<td>
									<a class="btn btn-secondary" href="/reserva/update/<%=reserva._id%>"
										class="card-link">Edit</a>
								</td>

							</tr>
							<% }); %>
					</tbody>
				</table>


			</div>

		</div>