<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <script>
            function mostrarHores() {
                let dataReserva = document.getElementById("dataReserva").value;
                if (dataReserva == new Date().toISOString().substring(0, 10)) {

                }
            }
        </script>
</head>

<body class="container" onload="mostrarHores()">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title">Nova Reserva</h5>
            </div>
            <div class="card-body">

                <form method="POST" action="/reserva/create">
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input onchange="mostrarHores()" type="date" id="dataReserva" name="data" class="form-control"
                            value="<%= new Date().toISOString().substring(0,10) %>"
                            min="<%= new Date().toISOString().substring(0,10) %>">
                    </div>
                    <!-- <div class="form-group">
                        <label for="hora">Hora</label> <br>
                        <input name="hora" list="llista-hores" class="form-control">
                        <datalist id="llista-hores">
                            <option value="08:00 - 09:00" label="De vuit a nou del matí"></option>
                            <option value="09:00 - 10:00" label="De nou a deu del matí"></option>
                            <option value="10:00 - 11:00" label="De deu a onze del matí"></option>
                            <option value="11:30 - 12:30" label="Dos quarts de dotze a dos quarts d'una"></option>
                            <option value="12:30 - 13:30" label="Dos quarts d'una a dos quarts de dos"></option>
                            <option value="13:30 - 14:30" label="Dos quarts de dos a dos quarts de tres"></option>
                        </datalist>
                    </div> -->
                    <div class="form-group">
                        <label for="horaInici">Hora Inici</label> <br>
                        <input name="horaInici" list="llista-hores-inici" class="form-control">
                        <datalist id="llista-hores-inici">
                            <option value="08:00 h" label="De les vuit en punt del matí"></option>
                            <option value="09:00 h" label="De les nou en punt del matí"></option>
                            <option value="10:00 h" label="De les deu en punt del matí"></option>
                            <option value="11:30 h" label="De dos quarts de dotze del matí"></option>
                            <option value="12:30 h" label="De dos quarts d'una del matí"></option>
                            <option value="13:30 h" label="De dos quarts de dos de la tarda"></option>
                            <option value="14:30 h" label="De dos quarts de tres de la tarda"></option>
                            <option value="15:00 h" label="De les tres en punt de la tarda"></option>
                            <option value="16:00 h" label="De les quatre en punt de la tarda"></option>
                            <option value="17:00 h" label="De les cinc en punt de la tarda"></option>
                            <option value="18:00 h" label="De les sis en punt de la tarda"></option>
                            <option value="19:00 h" label="De les set en punt de la tarda"></option>
                            <option value="20:00 h" label="De les vuit en punt de la nit"></option>
                            <option value="21:00 h" label="De les nou en punt de la nit"></option>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="horaFi">Hora Fi</label> <br>
                        <input name="horaFi" list="llista-hores-fi" class="form-control">
                        <datalist id="llista-hores-fi">
                            <option value="09:00 h" label="Fins a les nou en punt del matí"></option>
                            <option value="10:00 h" label="Fins a les deu en punt del matí"></option>
                            <option value="11:00 h" label="Fins a les onze en punt del matí"></option>
                            <option value="12:30 h" label="Fins a dos quarts d'una del matí"></option>
                            <option value="13:30 h" label="Fins a dos quarts de dos de la tarda"></option>
                            <option value="14:30 h" label="Fins a dos quarts de tres de la tarda"></option>
                            <option value="15:00 h" label="Fins a les tres en punt de la tarda"></option>
                            <option value="16:00 h" label="Fins a les quatre en punt de la tarda"></option>
                            <option value="17:00 h" label="Fins a les cinc en punt de la tarda"></option>
                            <option value="18:00 h" label="Fins a les sis en punt de la tarda"></option>
                            <option value="19:00 h" label="Fins a les set en punt de la tarda"></option>
                            <option value="20:00 h" label="Fins a les vuit en punt de la nit"></option>
                            <option value="21:00 h" label="Fins a les nou en punt de la nit"></option>
                            <option value="22:00 h" label="Fins a les deu en punt de la nit"></option>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="dniUsuari">dniUsuari</label>
                        <select type="text" name="dniUsuari" class="form-control">
                            <% dniUsuariList.forEach(function(dniUsuari) { %>
                                <option value="<%= dniUsuari.id %>">
                                    <%= dniUsuari.dni %>
                                </option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="codiLocalitzacio">Nom</label>
                        <select type="text" name="codiLocalitzacio" class="form-control">
                            <% localitzacioList.forEach(function(codiLocalitzacio) { %>
                                <% if (codiLocalitzacio.especial) { %>
                                    <option value="<%= codiLocalitzacio.id %>">
                                        <%= codiLocalitzacio.nom %>
                                    </option>
                                <% } %>
                            <% }); %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Reservar</button>
                </form>

                <% if (typeof error !=="undefined" ) { %>
                    <div class="alert alert-primary mt-2" role="alert">
                        <p>
                            <%= error %>
                        </p>
                    </div>
                <% } %>

            </div>
        </div>


    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>