<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Material</h5>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Codi</th>
                            <th scope="col">Nom</th>
                            <!-- <th scope="col">Descripció</th> -->
                            <th scope="col">Preu de compra</th>
                            <th scope="col">Any de compra</th>
                            <th scope="col">Fotografia</th>
                            <th scope="col">Nom Categoria</th>
                            <th scope="col">
                                <a href="/materials/create" class="btn btn-primary">New</a>
                            </th>
                            <th scope="col">
                                <a href="/materials/import" class="btn btn-primary">Importar</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% list.forEach(function(material) { %>
                            <tr>
                                <td>
                                    <%= material.codi %>
                                </td>
                                <td>
                                    <%= material.nom %>
                                </td>
                                <!-- <td>
                                    <%= material.descripcio %>
                                </td> -->
                                <td>
                                    <%= material.preuCompra %> €
                                </td>
                                <td>
                                    <%= material.formatarDate %>
                                </td>
                                <td>
                                    <img class="w-25" src=" <%= material.fotografia %>" alt="">
                                </td>
                                <td>
                                    <%= material.codiSubCategoria.nom %>
                                </td>
                                <td>
                                    <a href="/materials/update/<%=material._id%>" class="btn btn-secondary">Edit</a>
                                </td>
                                <td>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>

                <% if (typeof error !=="undefined" ) { %>
                    <div class="alert alert-primary mt-2" role="alert">
                        <p>
                            <%= error %>
                        </p>
                    </div>
                <% } %>

                <% if (typeof message !=="undefined" ) { %>
                    <div class="alert alert-primary mt-2" role="alert">
                        <p>
                            <%= message %>
                        </p>
                    </div>
                <% } %>

            </div>

        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>