<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Material</h5>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Codi</th>
                            <th scope="col">Nom</th>
                            <!-- <th scope="col">Descripció</th> -->
                            <th scope="col">Preu de compra</th>
                            <th scope="col">Any de compra</th>
                            <th scope="col">Fotografia</th>
                            <th scope="col">Nom Categoria</th>
                            <th scope="col">
                                <a href="/materials/create" class="btn btn-primary">New</a>
                            </th>
                            <th scope="col">
                                <a href="/materials/import" class="btn btn-primary">Importar</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% list.forEach(function(material) { %>
                            <tr>
                                <td>
                                    <%= material.codi %>
                                </td>
                                <td>
                                    <%= material.nom %>
                                </td>
                                <!-- <td>
                                    <%= material.descripcio %>
                                </td> -->
                                <td>
                                    <%= material.preuCompra %> €
                                </td>
                                <td>
                                    <%= material.formatarDate %>
                                </td>
                                <td>
                                    <img class="w-25" src=" <%= material.fotografia %>" alt="">
                                </td>
                                <td>
                                    <% if(material.codiSubCategoria == null) {%>
                                        Error a la base de dades
                                    <% } else { %>
                                        <%= material.codiSubCategoria.nom %>
                                    <% } %>
                                </td>
                                <td>
                                    <a href="/materials/update/<%=material._id%>" class="btn btn-secondary">Edit</a>
                                </td>
                                <td>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>

                <% if (typeof error !=="undefined" ) { %>
                    <div class="alert alert-primary mt-2" role="alert">
                        <p>
                            <%= error %>
                        </p>
                    </div>
                <% } %>

                <% if (typeof message !=="undefined" ) { %>
                    <div class="alert alert-primary mt-2" role="alert">
                        <p>
                            <%= message %>
                        </p>
                    </div>
                <% } %>

            </div>

            <nav>
                <ul class="pagination">
                    <li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=1" aria-label="Anterior">
                            <span>Primer</span>
                        </a>
                    </li>
                    <li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </li>

                    <% let startPage = Math.max(1, currentPage - 2); %>
                    <% let endPage = Math.min(totalPages, startPage + 4); %>

                    <% if (endPage - startPage < 4) { %>
                        <% startPage = Math.max(1, endPage - 4); %>
                    <% } %>

                    <% for (let i = startPage; i <= endPage; i++) { %>
                        <li class="page-item <%= i == currentPage ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                    <li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= parseInt(currentPage) + 1 %>" aria-label="Siguiente">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                    <li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= totalPages %>" aria-label="Anterior">
                            <span>Ultim</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>