<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Incidencia</h5>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Codi</th>
                            <th scope="col">Estat</th>
                            <th scope="col">Data</th>
                            <th scope="col">Tipologia</th>
                            <th scope="col">Prioritat</th>
                            <th scope="col">Descripci贸</th>
                            <th scope="col">Ubicaci贸</th>
                            <th scope="col">Material</th>
                            <th scope="col">Localitzaci贸</th>
                            <th scope="col">
                                <a href="/incidencies/create" class="btn btn-primary">New</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% list.forEach(function(incidencia) { %>
                            <tr>
                                <td>
                                    <%= incidencia.codi %>
                                </td>
                                <td>
                                    <%= incidencia.estat %>
                                </td>
                                <td>
                                    <%= incidencia.formatarDate %>
                                </td>
                                <td>
                                    <%= incidencia.tipologia %>
                                </td>
                                <td>
                                    <%= incidencia.prioritat %>
                                </td>
                                <td>
                                    <%= incidencia.descripcio %>
                                </td>
                                <td>
                                    <%= incidencia.ubicacio %>
                                </td>
                                <td>
                                    <% if(incidencia.codiExemplar == null){ %>
                                        Element no inventariat
                                    <% }  else { %>
                                        <% list_mat.forEach(function(material) { %>
                                            <% if(incidencia.codiExemplar.codiMaterial == material.id) { %>
                                                <%= material.nom %>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if(incidencia.codiLocalitzacio != null){%>
                                        <%= incidencia.codiLocalitzacio.nom %>
                                    <%} else {%>
                                        <p>Ubicaci贸 no trobada</p>
                                    <%}%>
                                </td>
                                <td>
                                    <a href="/incidencies/update/<%=incidencia._id%>" class="btn btn-secondary">Edit</a>
                                    <a href="../comentari/list/<%=incidencia._id%>" class="btn btn-secondary">Coment</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>

                <nav>
					<ul class="pagination">
						<li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=1" aria-label="Anterior">
								<span>Primer</span>
							</a>
						</li>
						<li class="page-item  <%= currentPage == 1 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Anterior">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Anterior</span>
							</a>
						</li>

						<% let startPage = Math.max(1, currentPage - 2); %>
						<% let endPage = Math.min(totalPages, startPage + 4); %>

						<% if (endPage - startPage < 4) { %>
							<% startPage = Math.max(1, endPage - 4); %>
						<% } %>

						<% for (let i = startPage; i <= endPage; i++) { %>
							<li class="page-item <%= i == currentPage ? 'active' : '' %>">
								<a class="page-link" href="?page=<%= i %>"><%= i %></a>
							</li>
						<% } %>
                        <li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= parseInt(currentPage) + 1 %>" aria-label="Siguiente">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Siguiente</span>
							</a>
						</li>
                        <li class="page-item  <%= currentPage == totalPages || totalPages == 0 ? 'disabled' : '' %>">
							<a class="page-link" href="?page=<%= totalPages %>" aria-label="Anterior">
								<span>Ultim</span>
							</a>
						</li>
					</ul>
				</nav>

            </div>


        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>